<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>

        <h2>ID de la muestra: <%= text1 %></h2>

        <h3>Nombre: <%= text3 %></h3>
        <h3>Posición: <%= text4 %></h3>
        <h3>Salario máximo: <%= text0 %> $</h3>
       
        <h3>Muestra total: <%= text2 %></h3>
        <h3>Media salarial: <%= text5 %> $</h3>
        
    </body>
</html>